%h3
  = @wiki.title
  collaborators
%table.table-hover.col-md-6
  %tr
    %thead
      %th Name
    %tr
      - @collaborators.each do |collaborator|
        %td= collaborator.name
        %td= link_to "Remove", {:action => 'delete', :id => collaborator.id}, :class => 'action delete'
        %br

= link_to 'New Collaborator', new_wiki_collaborator_path, class: 'btn btn-success'
= link_to 'Back', wiki_path(@wiki), class: 'btn btn-info'


