%h3.col.md-6= markdown @wiki.title
%p= markdown @wiki.body
%br
= link_to "Edit wiki", edit_wiki_path(@wiki), class: 'btn btn-success'
= link_to "Delete wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'}
= link_to "All wikis", wikis_path(@wikis), class: 'btn btn-default'
= link_to "View Collaborators", wiki_collaborators_path(@wiki), class: 'btn btn-warning'
= link_to "Add Collaborators", new_wiki_collaborator_path(@wiki), class: 'btn btn-info'

%hr

